
html {
	font-family:serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:100%;
    -o-text-size-adjust:100%;
    transition:all .3s ease-in-out;
    background-color:#E9DCBE;
}

body {
	margin: 0;
    padding: 0;

    
}
h2{
    filter: drop-shadow(0px 2px 3px black);
}
h4{
    margin-top: 0px;
    color: #ffffff;
}
h6{
    text-align: center;
    
}

nav{
    height:50px;
    width: 100%; 
    position: fixed;
    transition:all ease .3s;
    text-align: center;
    z-index: 100;
    border-bottom: 1px solid silver;
    background-color:#000 ;
}
nav:first-child{
    color: #02C39A;
}

nav li a{
    color:#fff;
}
nav li a:hover{
    color:#02C39A ;
}
.div p {
     filter: drop-shadow(0px 5px 5px black);
}


#wrapper{ 
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
    height: 1400px;
    padding: 3.2em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  5fr 1fr 9fr 4fr 6fr 2fr;
    grid-auto-flow: row;
    color: aliceblue;
    text-align: center;
}

#title{
    grid-column-start: 1;
    grid-column-end: 7;
    color: #000;
    height: 309px;
    background-color: #fff;
    align-content: center;
}
#demo{
    font-size: 12px;
    color:#000;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    filter: drop-shadow(0px 3px 10px darkblue);
}
img{
    margin-top: 20px;
    height: 121px;
    width: 121px;
    z-index: -1;
    
}
.site-title{
    color:#444;
    font-size: 14px;
    -webkit-animation: zoomIn 3s ease;
    -o-animation: zoomIn 3s ease;
    -ms-animation: zoomIn 3s ease;
    animation: zoomIn 3s ease;
}

.site-description{
    text-align: center;
    color:#02C39A ;
    font-size: 10px;
    background-color: black;
    width: 10%;
    position:relative;
    left:45%;
    -webkit-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0)
    
}
    
    
#date{
    height: 161px;
    background-color:#000000;
    grid-column-start: 1;
    grid-column-end: 7;    
}
#time{
    font-family:'Roboto',monospace;
    font-size: 15px;
    line-height: 100px;
    color:#ffff;
    z-index: 2;
    -webkit-animation: zoomIn 3s ease;
    -o-animation: zoomIn 3s ease;
    -ms-animation: zoomIn 3s ease;
    animation: zoomIn 3s ease; 
}
#main{
    margin-top: 12px;
    grid-column-start: 1;
    grid-column-end: 7;
    background-color:;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 27px;
    padding: 0em 1em;
    
}
#h3{
    font-size: 40px;
    line-height:70px;
    color: black;
    z-index: -2;
    opacity: 0;
}
#div1:hover h3,#div2:hover h3,#div3:hover h3,#div4:hover h3,#div5:hover h3,#div6:hover h3,#div7:hover h3,#div8:hover h3,#div9:hover h3,#div10:hover h3,#div11:hover h3,#div12:hover h3{
    opacity: 1;
    -webkit-animation: slideInUp 2s ease;
    -o-animation: slideInUp 2s ease;
    -ms-animation: slideInUp 2s ease;
    animation: slideInUp 2s ease;
}

#div1{
    border-radius: 5px;
    background-image: url(m.jpg);
    background-size: cover;
    cursor:pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
    z-index: 2;
}
#imageDescription{
    background-color: #261D1D;
    position:absolute;
    color:#fff;
    font-size: 15px;
    margin-top: 110px;
    display: none;
    opacity: .7;
}
.div:hover #imageDescription {
    display: block;
    -webkit-animation: slideInUp 2s ease;
    -o-animation: slideInUp 2s ease;
    -ms-animation: slideInUp 2s ease;
    animation: slideInRight 2s ease;
}

 

#div2{
    border-radius: 5px;
    background-image: url(c.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px; 
   
    

}
#div3{
    border-radius: 5px;
    background-image: url(d.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
    
    

}
#div4{
    border-radius: 5px;
    background-image: url(e.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px; 
    
    

}
#div5{
     border-radius: 5px;
    background-image: url(f.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
   
}
#div6{
     border-radius: 5px;
    background-image: url(p.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px; 
    
}
#div7{
     border-radius: 5px;
    background-image: url(j.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
    
}
#div8{
     border-radius: 5px;
    background-image: url(k.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
   
}
#div9{
     border-radius: 5px;
    background-image: url(IMG_0048.jpg);
    background-position: bottom;
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px; 
}
#div10{
     border-radius: 5px;
    background-image: url(i.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
    
}

#div11{
    border-radius: 5px;
    background-image: url(q.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
    
}

#div12{
    border-radius: 5px;
    background-image: url(s.jpg);
    background-size: cover;
    cursor: pointer;
    text-align:center;
    font-size: 10px;
    color:burlywood;
    height: 141px;
     
}
#aside{
    margin-top: 35px;
    padding: 0em 1em;
    grid-column-start: 1;
    grid-column-end: 7;
    color:burlywood;
    line-height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: grid;
    grid-gap: 45px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; 
}
#asideHeadig{
    background-color: olive;
    color: #23033C;
}
.slideshow-container{
    background-color: #444;
}
.myslide{
    background-color: transparent;
    
}

.mySlides:hover{
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
   
}

.mySlides a{
    color: white;
    filter: drop-shadow(0px 5px 5px black);
}
.fade{
    
    height: 50px; 
    cursor: pointer;
    margin-bottom: 1px dotted black;
}
.fade:hover{
    background-color: black;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}



.slideshow-container1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap:30px;
    color: #000; 
}


.show1{
    padding-top: 1em;
    background-color: #777;
    text-align: center;
}
.show2{
    padding-top: 1em;
    background-color: #777;
    text-align: center;
    
}
.show3{
    padding-top: 1em;
    background-color: #777;
    text-align: center;
    
}


#form{
    margin: 15px 0 15px 0;
    padding: 0em 1em;
    grid-column-start: 1;
    grid-column-end: 7;
    color: black;
    display: grid;
    grid-gap:15px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    
}
#form1{
    height: 215px;
    border-radius: 10px;
    background-color: #709053;
    -webkit-animation: bounceInLeft 4s ease;
    -o-animation: bounceInLeft 4s ease;
    -ms-animation: bounceInLeft 4s ease;
    animation: bounceInLeft 4s ease;
    z-index: 200;
    
}
#form1 img{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0px;
    opacity: .5;
   
}

#form2{
    height: 215px;
    background-color:yellow;
    -webkit-animation: bounceInLeft 4s ease;
    -o-animation: bounceInLeft 4s ease;
    -ms-animation: bounceInLeft 4s ease;
    animation: bounceInRight 4s ease;
    z-index: 200px;
}

#form2 img{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    opacity: .5;
    
}

#form3{
    padding-top: 1em;
    background-size: cover;
    background-color:#111;
    
}


#firstname{
    background-color: transparent;
    margin-bottom: 5px;
    width: 90%;
    outline: none;
    border: 1px solid #fff;
    color: white;
    
}
#email{
    background-color: transparent;
    margin-bottom: 5px;
    width: 90%;
     outline: none;
    border: 1px solid #fff;
    color: white;
}
#textarea{
    background-color: transparent;
    height: 60px;
    width: 90%;
    outline: none;
    border: 1px solid #fff;
    color: white;
    
}

#fbutton{
    background-color: #005691;
    margin-bottom: 5px;
    margin-top: 10px;
    outline:none;
    z-index: 100;
    cursor: pointer;
    color: white;
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius:0px;
}
#fbutton:hover{
    background-color: #005691;
    color: #000;
    
}
#footer{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color:#000;
    text-align: center; 
}
li{
    display: inline-block;
    text-decoration: none;
    margin:0 1em;  
}
#footer li:first-child{
    color:#005691 ;
}

a{
    text-decoration: none;
    color: white;
    font-size: 10px;
    letter-spacing: 2px;

}

#github:hover{
    color: #005691;
}
#instagram:hover{
    color: #005691;

}
#linkedin:hover{
    color: #005691;
    

}
#footerpara{
    font-size: 10px;
    color: white;
}

@media screen and (max-width:850px){
    #wrapper{
        padding: 3.2em 0em;
    }
    
    #main{
        grid-column-start: 1;
        grid-column-end: 7;
        background-color:;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        grid-gap: 35px;
    
    }
    #aside{
        
        grid-gap: 15px;
        
    }
    #form{
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr 1fr  ;
        grid-gap: 15px;
    }
    #form3{
        grid-column-start: 1;
        grid-column-end: 3;
        
    }
}
@media screen and (max-width:550px){
    #wrapper{
        height: 1200px;
        padding: 3.2em 0em;
        transition:all .3s ease-in-out;
    }
    nav{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        transition:all ease .3s;
    }

    #header{
        grid-column-start: 1;
        grid-column-end: 7;
        
    }
    #title{
        height: 329px;
        grid-column-start: 1;
        grid-column-end: 7;
        
    }
    
    #date{
        grid-column-start: 1;
        grid-column-end: 7;
        border-bottom: none;
        border-bottom: 1px dotted black;
        
    }
    #main{
        grid-column-start: 1;
        grid-column-end: 7;
        background-color:;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-gap: 20px;
        padding: 0em .5em;
    }
    #div1{
       
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
    }
    #div2{
        background-image: url(c.jpg);
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
    
    }
    #div3{
        background-image: url(d.jpg);
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
        
    }
    #div4{
        background-image: url(e.jpg);
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
       
    }
    #div5{
        background-image: url(f.jpg);
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
    }
    #div6{
        background-image: url(i.jpg);
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
         
    }
    #div7{
        background-image: url(j.jpg);
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
}
    #div8{
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
         
}
    #div9{
       background-color:#3E3E3E; 
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
       
    }
    #div10{
        background-color: #405365;
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
    }

    #div11{
        background-color: #BAB5A4;
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
    }

    #div12{
        background-color:#6E665E;
        background-size: cover;
        cursor: pointer;
        text-align:center;
        font-size: 10px;
        color:burlywood;
        height: 141px;
        
    }

    #aside{
        grid-column-start: 1;
        grid-column-end: 7;
        padding: 0em .5em;
        
    }
    #form{
        padding: 0em .em;
        grid-column-start: 1;
        grid-column-end: 7;
        display: grid;
        grid-gap: 15px;
        grid-template-columns:1fr 1fr;
        grid-template-rows: 1fr 1fr ;
        
        
    }
    #form1{
        height: 155px;
        border-radius: 10px;
        background-color: #709053;
        animation: bounceInLeft 4s ease;
        z-index: 200;
    
}
    #form1 img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        margin-top: 0px;
        opacity: .5;
   
}
    
    #form2{
        height: 155px;
        border-radius: 10px;
        background-color:yellow;
        animation: bounceInRight 4s ease;
        z-index: 200px;
}

    #form2 img{
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        opacity: .5;
    
}
    
    #form3{
        height: 200px;
    }
    
    #footer{
        grid-column-start: 1;
        grid-column-end: 7;
        text-align: center;
    }
    li{
        display: inline-block;
        text-decoration: none;
    
    
    }
    #aside{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr ;
        
    }
    .site-description{
    text-align: center;
    color:#02C39A ;
    font-size: 10px;
    background-color: black;
    width: 30%;
    position:relative;
    left:34%;
    transform: translate(-50%,0)
    
    }
    
}



